/*==============================================================================
// File:        _styles.scss
// Package:     Tour Search UI - Vue3 - RezKit
// Synopsis:    Main styles for RezKit - SASS
//============================================================================*/

/*------------------------------------------------------------------------------
// Layout Styles
//----------------------------------------------------------------------------*/

html {
  overflow-x: hidden;
  height: 100%;
}

body {
  @include fluid-prop(font-size, $viewport-full-min, $viewport-xl, 12px, 14px);

  font-family: var(--rk-primary-font);
  color: var(--rk-text);
  height: 100%;
}
