<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;500&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootilities@0.5.0/dist/css/bootilities.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/demo.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tours UI</title>
  </head>
  <body class="rk-body p-3">
    <h1 class="mb-5">Tours UI</h1>

    <main id="vue-app" class="pb-5">
      <div class="rk-card rk-card--content">
        <h2>Vue 3</h2>
        <h6>Available Components</h6>

        <div class="py-3">
          <p class="rk-text rk-text--lead">Pagination:</p>
          <div class="rk-card">
            <rkts-list-pagination v-model="pagination" active-colour="#84288E" :pages="4"></rkts-list-pagination>
          </div>
        </div>

        <div class="py-3">
          <p class="rk-text rk-text--lead">Sort By:</p>
          <div class="rk-card">
            <rkts-sort-by v-model="sort"></rkts-sort-by>
          </div>
        </div>

        <hr />

        <div class="py-3">
          <p class="rk-text rk-text--lead">Collapsible List:</p>
          <div class="rk-card" style="max-width: 400px;">
            <rkts-collapsible-list
              v-model="filters.holiday"
              :sub-options="[]"
              title="Holiday Type"
              :open="true"
              prefix="example"
              term="example"
            >
              <rkts-list-checkbox v-model="filters.trek" title="Trek"></rkts-list-checkbox>
            </rkts-collapsible-list>
            <rkts-collapsible-list
              v-model="filters.activities"
              :sub-options="[]"
              title="Activities"
              :open="false"
              prefix="example"
              term="example"
            >
              <rkts-list-checkbox v-model="filters.cycling" title="Cycling"></rkts-list-checkbox>
            </rkts-collapsible-list>
            <rkts-clear-button :filters="filters.holiday" style-opts="mt-3"></rkts-clear-button>
          </div>
        </div>

        <hr />

        <div class="py-3">
          <p class="rk-text rk-text--lead">Descriptive List:</p>
          <div class="rk-card" style="max-width: 400px;">
            <rkts-descriptive-list
              v-model="filters.grade"
              title="Grade 1"
              prefix="example"
              term="example"
              text="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
            ></rkts-descriptive-list>
            <rkts-clear-button :filters="filters.grade" style-opts="mt-3"></rkts-clear-button>
          </div>
        </div>

        <hr />

        <div class="py-3">
          <p class="rk-text rk-text--lead">Refine Tag:</p>
          <div class="rk-card">
            <rkts-tags-panel>
              <rkts-refine-tag
                filter-value="$0 - $1000"
                @process:clear-filter="clearFilter"
              ></rkts-refine-tag>
              <rkts-refine-tag filter-value="$0 - $1000"></rkts-refine-tag>
            </rkts-tags-panel>
          </div>
        </div>

        <hr />

        <div class="py-3">
          <p class="rk-text rk-text--lead">Range Slider:</p>
          <div class="rk-card">
            <rkts-range-slider v-model="range" :min="200" :max="2000" :format="{ prefix: '$' }"></rkts-range-slider>
          </div>
        </div>

        <hr />

        <div class="py-3">
          <p class="rk-text rk-text--lead">Chosen Date:</p>
          <div class="rk-card">
            <p>User agent:</p>
            <rkts-chosen-date v-model="dateFrom" style-opts="mb-3"></rkts-chosen-date>
            <p>Vue date picker:</p>
            <rkts-chosen-date v-model="dateTo" type="vue" style-opts="mb-3"></rkts-chosen-date>
          </div>
        </div>

        <hr />

        <div class="py-3">
          <p class="rk-text rk-text--lead">Result Card:</p>

          <rkts-result-card :data="[{ name: 'Holiday Title' }]"></rkts-result-card>
        </div>

        <hr />

        <div class="py-3">
          <p class="rk-text rk-text--lead">Filters Panel:</p>

          <rkts-filters-panel layout="horizontal">
            <div class="rk-filters__facet">
              <rkts-chosen-date v-model="dateFrom" style-opts="mb-3"></rkts-chosen-date>
            </div>
            <div class="rk-filters__facet">
              <rkts-range-slider v-model="range"></rkts-range-slider>
            </div>
          </rkts-filters-panel>
        </div>

        <hr />

        <div class="py-3">
          <p class="rk-text rk-text--lead">Results Count:</p>
          <div class="rk-card">
            <rkts-results-count :count="results?.hits?.total?.value || 0" label="Showing" message="results"></rkts-results-count>
          </div>
        </div>

        <hr />

        <div class="py-3">
          <p class="rk-text rk-text--lead">Search Box:</p>
          <div class="rk-card">
            <rkts-search-box
              v-model="search"
              placeholder="Example placeholder"
              :enable-suggestions="true"
              layout="primary"
              @process:chosen-suggestion="testSuggestion"
            ></rkts-search-box>
          </div>
        </div>

        <hr />

        <div class="py-3">
          <p class="rk-text rk-text--lead">Results:</p>
          <div v-if="!results || results.hits && results.hits.hits.length === 0">
            No Results Founds
          </div>
          <div v-else>
            <div class="rk-card mb-5">
              <template v-for="category in results?.aggregations?.categories.buckets" :key="category.key">
                <rkts-collapsible-list
                  v-model="filters.holiday"
                  :sub-options="category.children || []"
                  :title="category.key"
                  :count="category.doc_count"
                  :open="true"
                  prefix="example"
                  :term="category.term"
                >
                  <template v-for="(child, i) in category.children" :key="`${child.key}-${i}`">
                    <rkts-list-checkbox :title="child.key" :count="child.doc_count"></rkts-list-checkbox>
                  </template>
                </rkts-collapsible-list>
              </template>
            </div>

            <rkts-results-panel layout="fluid">
              <template v-for="(result, index) in results.hits.hits" :key="`result-${index}`">
                <rkts-result-card
                  v-slot="result"
                  :data="result._source"
                  :custom-card="true"
                  style="--rkts-max-width: 400px;"
                >
                  <div class="rk-card example-card example-card--related w-100">
                    <div class="example-card__image example-card__image--max-height mb-3">
                      <img
                        class="img-fluid"
                        alt="Product Image"
                        src="https://via.placeholder.com/450x250&text=..."
                      />
                    </div>
                    <div class="example-card__body">
                      <h6>{{ result.data.name }}</h6>
                      <p v-if="result.data.locations.Country" class="example-text example-text--text-sm mb-1">
                        <i class="example-card__icon fontello icon-sys-info"></i>
                        <span>{{ result.data.locations.Country[0] }}</span>
                        <span v-if="result.data.locations.Region">
                         , {{ result.data.locations.Region[0] }}
                       </span>
                      </p>
                      <p v-html="result.data.description" class="example-text example-text--text-df mb-1"></p>
                    </div>
                    <div class="example-card__info">
                      <div class="info-item">
                        <i class="example-icon example-icon--primary fontello icon-trek-and-walk"></i>
                        <p class="example-bold m-0"><p>
                      </div>
                    </div>
                    <div class="example-card__footer d-flex justify-content-between">
                      <div>
                        <p class="example-text example-text--text-md example-bold mb-1">
                          x days from
                        </p>
                        <p class="example-text example-text--price mb-1">
                          £xxx
                          <span class="example-text example-text--text-sm example-text--default example-weight-normal">
                           without flights
                         </span>
                        </p>
                        <p class="example-text example-text--price mb-1">
                          £xxx
                          <span class="example-text example-text--text-sm example-text--default example-weight-normal">
                           with flight
                         </span>
                        </p>
                      </div>
                      <div class="d-flex align-items-end">
                        <button class="rk-btn example-btn">
                          View
                        </button>
                      </div>
                    </div>
                  </div>
                </rkts-result-card>
              </template>
            </rkts-results-panel>
          </div>
        </div>

      </div>
    </main>

    <script type="module">
      import { createApp, ref, watch, inject } from 'vue'
      import { debounce } from 'lodash-es'
      import * as SearchUI from './src/main.ts'
      const app = createApp({
        name: 'Search UI Demo',

        data() {
          return {
            pagination: ref([]),
            sort: ref(['name|asc']),
            search: ref(''),
            results: ref(),
            filters: ref({
              activities: false,
              holiday: false,
              cycling: false,
              trek: false,
              grade: false
            }),
            range: ref([300, 1000]),
            dateFrom: ref(new Date()),
            dateTo: ref(new Date())
          }
        },

        setup() {
          const client = inject(SearchUI.SEARCH_CLIENT);
          return {
            client,
          }
        },

        watch: {
          // Run a search whenever the search term changes
          search(term, oldTerm) {
            if (term) {
              this.runSearch()
            } else {
              this.clearSearch()
            }
          }
        },

        methods: {
          async runSearch() {
            let params = {}
            params.ccy = 'GBP'
            if (this.search && this.search.length > 2) {
              params.q = this.search
            }
            this.results = await this.client.search(params)
          },

          testSuggestion(ev) {
            console.log(ev)
          },

          clearSearch() {
            this.results = null
          },

          clearFilter() {
            console.log('Clear filter')
          }
        },

        mounted() {
          this.runSearch()
        }
      })



      app.use(SearchUI.vue('ke', {host: 'https://rezkit-tours-staging.fly.dev'}))
      app.mount('#vue-app')
    </script>
  </body>
</html>
