/*==============================================================================
// File:        _filters.scss
// Package:     Tour Search UI - Vue3 - RezKit
// Synopsis:    Main filters style for the UI - SASS
//============================================================================*/

.rk-filters {
  --rkts-justify-content: start;
  --rkts-flex-flow: column wrap;
  --rkts-align-items: center;
  --rkts-display: flex;

  justify-content: var(--rkts-justify-content);
  align-items: var(--rkts-align-items);
  flex-flow: var(--rkts-flex-flow);
  display: var(--rkts-display);

  /*==============================================================================
  // Elements
  //============================================================================*/

  @include element("facet") {
    background: var(--rk-base-white);
    margin-right: var(--rk-p-df);
    padding: var(--rk-p-df);
    width: 100%;
  }

  /*==============================================================================
  // Modifiers
  //============================================================================*/

  @include modifier("horizontal") {
    --rkts-justify-content: space-evenly;
    --rkts-align-items: start;
    --rkts-flex-flow: row;
  }
}
