/*==============================================================================
// File:        _results.scss
// Package:     Tour Search UI - Vue3 - RezKit
// Synopsis:    Main result styles for the UI - SASS
//============================================================================*/

.rk-results {
  --rkts-justify-content: start;
  --rkts-flex-direction: column;
  --rkts-align-items: center;
  --rkts-display: flex;
}
