/*==============================================================================
// File:        _tags.scss
// Package:     Tour Search UI - Vue3 - RezKit
// Synopsis:    Main tag panel styles for the UI - SASS
//============================================================================*/

.rk-tags {
  --rkts-justify-content: start;
  --rkts-flex-flow: row wrap;
  --rkts-align-items: center;
  --rkts-display: flex;

  justify-content: var(--rkts-justify-content);
  align-items: var(--rkts-align-items);
  flex-flow: var(--rkts-flex-flow);
  display: var(--rkts-display);

  /*==============================================================================
  // Modifiers
  //============================================================================*/

  @include modifier("vertical") {
    --rkts-flex-flow: column wrap;
  }
}
