/*==============================================================================
// File:        _result-card.scss
// Package:     Tour Search UI - Vue3 - RezKit
// Synopsis:    Result card component - SASS
//============================================================================*/

.rkts-result-card {
  --rkts-justify-content: start;
  --rkts-align-items: center;
  --rkts-max-width: 100%;
  --rkts-display: flex;

  justify-content: var(--rkts-justify-content);
  align-items: var(--rkts-align-items);
  max-width: var(--rkts-max-width);
  margin-bottom: var(--rk-m-lg);
  display: var(--rkts-display);
}
