/*==============================================================================
// File:        _chosen-date.scss
// Package:     Tour Search UI - Vue3 - RezKit
// Synopsis:    Chosen date component - SASS
//============================================================================*/

.rkts-chosen-date {
  --rkts-position: relative;
  --rkts-display: flex;

  position: var(--rkts-position);
  display: var(--rkts-display);

  .dp__theme_light {
    --dp-primary-color: var(--rk-primary);
    --dp-icon-color: var(--rk-primary);
  }
}
