/*==============================================================================
// File:        _collapsible-list.scss
// Package:     Tour Search UI - Vue3 - RezKit
// Synopsis:    Collapsible list component - SASS
//============================================================================*/

.rkts-collapsible-list {
  padding: 0;

  /*==============================================================================
  // Elements
  //============================================================================*/

  @include element("title") {
    --rkts-justify-content: start;
    --rkts-align-items: center;

    justify-content: var(--rkts-justify-content);
    align-items: var(--rkts-align-items);
    padding: 0 var(--rk-p-lg) 0 0;
    position: relative;
    display: flex;

    .label {
      padding: 0 var(--rk-p-df) 0 0;
    }

    &:after {
      @extend %fontello;

      @include insert-transition(transform, .3s, ease-in-out, 0s);

      font-size: var(--rk-icon-size-sm);
      transform-origin: center;
      position: absolute;
      content: "\e825";
      right: 0;
    }

    @include adjoin("open") {
      &:after {
        transform: rotate(180deg);
      }
    }
  }

  @include element("content") {
    --rkts-max-height: 400px;
    --rkts-overflow: auto;

    max-height: var(--rkts-max-height);
    overflow: var(--rkts-overflow);
    margin: 0 0 var(--rk-m-df);
  }
}
