/*==============================================================================
// File:        _collapsible-list.scss
// Package:     Tour Search UI - Vue3 - RezKit
// Synopsis:    Collapsible list component - SASS
//============================================================================*/

.rkts-collapsible-list {
  --rkts-border-bottom: 1px solid var(--rk-base-grey);
  --rkts-collapse-icon: "\e825";

  border-bottom: var(--rkts-border-bottom);
  margin-bottom: var(--rk-m-sm);

  @include adjoin("open") {
    padding-bottom: var(--rk-p-md);
  }

  /*==============================================================================
  // Elements
  //============================================================================*/

  @include element("title") {
    --rkts-justify-content: start;
    --rkts-position: relative;
    --rkts-align-items: center;
    --rkts-display: flex;

    padding: var(--rk-p-df) var(--rk-p-lg) var(--rk-p-df) 0;
    justify-content: var(--rkts-justify-content);
    align-items: var(--rkts-align-items);
    position: var(--rkts-position);
    display: var(--rkts-display);

    .label {
      padding-right: var(--rk-p-df);
    }

    &:hover,
    &:focus {
      color: var(--rk-text-dark);
      cursor: pointer;
    }

    @include adjoin("drop-down") {
      &:after {
        --rkts-right: 0;

        @extend %fontello;

        @include insert-transition(transform, .3s, ease-in-out, 0s);

        content: var(--rkts-collapse-icon);
        font-size: var(--rk-icon-size-sm);
        transform-origin: center;
        right: var(--rkts-right);
        position: absolute;
      }
    }

    @include adjoin("open") {
      &:after {
        transform: rotate(180deg);
      }
    }
  }

  @include element("content") {
    --rkts-max-height: auto;
    --rkts-overflow: auto;

    @include insert-transition(all, .5s, ease, .1s);

    max-height: var(--rkts-max-height);
    overflow: var(--rkts-overflow);
    padding-left: var(--rk-p-md);
    position: relative;
    visibility: hidden;
    opacity: 0;
    height: 0;

    &:before {
      background: var(--rk-base-grey);
      position: absolute;
      display: block;
      content: "";
      height: 100%;
      width: 1px;
      left: 10px;
      top: 0;
    }

    @include adjoin("open") {
      visibility: visible;
      height: auto;
      opacity: 1;
    }
  }
}
