/*==============================================================================
// File:        _collapsible-list.scss
// Package:     Tour Search UI - Vue3 - RezKit
// Synopsis:    Collapsible list component - SASS
//============================================================================*/

.rkts-collapsible-list {
  padding: 0;

  /*==============================================================================
  // Elements
  //============================================================================*/

  @include element("title") {
    display: flex;
  }

  @include element("content") {
    margin: 0 0 var(--rk-m-df);
  }
}
