/*==============================================================================
// File:        _descriptive-list.scss
// Package:     Tour Search UI - Vue3 - RezKit
// Synopsis:    Description list component - SASS
//============================================================================*/

.rkts-description-list {
  --rkts-max-witdth: auto;

  max-width: var(--rkts-max-witdth);

  /*==============================================================================
  // Elements
  //============================================================================*/

  @include element("title") {
    --rkts-justify-content: start;
    --rkts-align-items: center;

    justify-content: var(--rkts-justify-content);
    align-items: var(--rkts-align-items);
    padding: 0 var(--rk-p-lg) 0 0;
    position: relative;
    display: flex;

    .label {
      padding: 0 var(--rk-p-df) 0 0;
    }
  }

  @include element("text") {
    font-size: var(--rk-font-size-sm);
  }

  @include element("line-break") {
    margin: var(--rk-m-df) 0;
  }
}
