/*==============================================================================
// File:        _descriptive-list.scss
// Package:     Tour Search UI - Vue3 - RezKit
// Synopsis:    Descriptive list component - SASS
//============================================================================*/

.rkts-descriptive-list {
  --rkts-max-witdth: auto;

  max-width: var(--rkts-max-witdth);

  /*==============================================================================
  // Elements
  //============================================================================*/

  @include element("title") {
    --rkts-justify-content: start;
    --rkts-align-items: center;
    --rkts-position: relative;
    --rkts-display: flex;

    padding: var(--rk-p-df) var(--rk-p-lg) var(--rk-p-df) 0;
    justify-content: var(--rkts-justify-content);
    align-items: var(--rkts-align-items);
    position: var(--rkts-position);
    display: var(--rkts-display);

    .label {
      padding-right: var(--rk-p-df);
    }
  }

  @include element("text") {
    font-size: var(--rk-font-size-sm);
  }

  @include element("line-break") {
    border: none;
    border-top: 1px solid var(--rk-base-grey);
    margin: var(--rk-m-df) 0;
    outline: none;
  }
}
