/*==============================================================================
// File:        _range-slider.scss
// Package:     Tour Search UI - Vue3 - RezKit
// Synopsis:    Range slider component - SASS
//============================================================================*/

.rkts-range-slider {
  --slider-connect-bg: var(--rk-primary);
  --slider-tooltip-bg: var(--rk-primary);

  padding-top: var(--rk-p-xl);
  margin: 0 var(--rk-p-sm);
}
