/*==============================================================================
// File:        _define-tag.scss
// Package:     Tour Search UI - Vue3 - RezKit
// Synopsis:    Refine tag component - SASS
//============================================================================*/

.rkts-refine-tag {
  --rkts-tag-bg: var(--rk-base-grey-lightest);
  --rkts-tag-text: var(--rk-text);

  margin: 0 var(--rk-m-xs) var(--rk-m-xs) 0;
  background: var(--rkts-tag-bg);
  padding: var(--rk-p-df);
  display: inline-flex;
  align-items: center;

  &:hover,
  &:focus {
    --rkts-tag-text: var(--rk-secondary-dark);
    --rkts-tag-bg: var(--rk-base-grey-light);

    cursor: pointer;
  }

  /*==============================================================================
  // Elements
  //============================================================================*/

  @include element("icon") {
    margin: 0 var(--rk-m-sm) 0 0;
    color: var(--rk-primary);
  }

  @include element("text") {
    padding: 0;
  }
}
