/*==============================================================================
// File:        _define-tag.scss
// Package:     Tour Search UI - Vue3 - RezKit
// Synopsis:    Refine tag component - SASS
//============================================================================*/

.rkts-refine-tag {
  --rkts-tag-bg: var(--rk-base-grey-lightest);
  --rkts-tag-text: var(--rk-text);
  --rkts-align-items: center;
  --rkts-display: inline-flex;

  margin: 0 var(--rk-m-xs) var(--rk-m-xs) 0;
  align-items: var(--rkts-align-items);
  background: var(--rkts-tag-bg);
  display: var(--rkts-display);
  padding: var(--rk-p-df);

  &:hover,
  &:focus {
    --rkts-tag-text: var(--rk-secondary-dark);
    --rkts-tag-bg: var(--rk-base-grey-light);

    cursor: pointer;
  }

  /*==============================================================================
  // Elements
  //============================================================================*/

  @include element("icon") {
    margin-right: var(--rk-m-sm);
    color: var(--rk-primary);
  }

  @include element("text") {
    padding: 0;
  }
}
