/*==============================================================================
// File:        _button.scss
// Package:     Tour Search UI - Vue3 - RezKit
// Synopsis:    Shared button component - SASS
//============================================================================*/

.rk-btn {
  --rkts-display: inline-block;
  --rk-border-style: solid;
  --rkts-border-width: 1px;

  @include insert-transition(all, .5s, ease, .1s);

  padding: var(--rk-p-df) var(--rk-p-lg);
  border-width: var(--rkts-border-width);
  border-style: var(--rk-border-style);
  font-family: var(--rk-primary-font);
  font-size: var(--rk-font-size-sm);
  font-weight: var(--rk-font-bold);
  border-color: var(--rk-primary);
  background: var(--rk-primary);
  display: var(--rkts-display);
  color: var(--rk-base-white);
  text-decoration: none;

  &:active,
  &:hover,
  &:focus {
    border-color: var(--rk-primary-light);
    background: var(--rk-primary-light);
    color: var(--rk-base-white);
    text-decoration: none;
    box-shadow: none;
    cursor: pointer;
    outline: none;
  }

  &:disabled {
    --rkts-opacity: .6;

    border-color: var(--rk-base-grey);
    background: var(--rk-base-grey);
    opacity: var(--rkts-opacity);
    color: var(--rk-text);
    cursor: not-allowed;
  }

  /*==============================================================================
  // Modifiers
  //============================================================================*/

  @include modifier("clear") {
    --rkts-justify-content: center;
    --rkts-align-items: center;
    --rkts-display: flex;

    justify-content: var(--rkts-justify-content);
    align-items: var(--rkts-align-items);
    display: var(--rkts-display);
    color: var(--rk-text);
    background: none;
    border: none;
    padding: 0;

    &:hover,
    &:focus {
      color: var(--rk-text);
      background: none;
      border: none;
    }
  }
}
