/*==============================================================================
// File:        _card.scss
// Package:     Tour Search UI - Vue3 - RezKit
// Synopsis:    Shared card component - SASS
//============================================================================*/

.rk-card {
  --rkts-border: none;

  border-radius: var(--rk-border-radius-df);
  background: var(--rk-base-white);
  border: var(--rkts-border);
  padding: var(--rk-p-md);

  /*==============================================================================
  // Modifiers
  //============================================================================*/

  @include modifier("content") {
    --rkts-box-shadow: none;

    border: 1px solid var(--rk-main-border-color);
    background: var(--rk-main-bg-colour);
    box-shadow: var(--rkts-box-shadow);
  }

  /*==============================================================================
  // Elements
  //============================================================================*/

  @include element("image") {
    --rkts-image-max-height: 275px;
    --rkts-justify-content: start;
    --rkts-align-items: center;
    --rkts-position: relative;
    --rkts-display: flex;

    justify-content: var(--rkts-justify-content);
    align-items: var(--rkts-align-items);
    position: var(--rkts-position);
    display: var(--rkts-display);
    overflow: hidden;
    padding: 0;
    margin: 0;

    @include modifier("max-height") {
      max-height: var(--rkts-image-max-height);
      overflow: hidden;
    }
  }

  @include element("body") {
    padding: var(--rk-p-df);
  }

  @include element("info") {
    --rkts-justify-content: start;
    --rkts-align-items: center;
    --rkts-display: flex;

    justify-content: var(--rkts-justify-content);
    align-items: var(--rkts-align-items);
    display: var(--rkts-display);
    padding: var(--rk-p-df);
  }

  @include element("footer") {
    --rkts-justify-content: start;
    --rkts-align-items: center;
    --rkts-display: flex;

    justify-content: var(--rkts-justify-content);
    align-items: var(--rkts-align-items);
    display: var(--rkts-display);
    padding: var(--rk-p-df);
  }
}
