/*==============================================================================
// File:        _input.scss
// Package:     Tour Search UI - Vue3 - RezKit
// Synopsis:    Shared input component - SASS
//============================================================================*/

.rk-input {
  --rkts-min-height: 58px;
  --rkts-width: 100%;

  border-radius: var(--rk-border-radius-df);
  border: 1px solid var(--rk-base-grey);
  min-height: var(--rkts-min-height);
  font-size: var(--rk-font-size-df);
  background: var(--rk-base-white);
  width: var(--rkts-width);
  padding: var(--rk-p-sm);
  color: var(--rk-text);
  height: auto;

  &:focus {
    --rkts-box-shadow: none;

    box-shadow: var(--rkts-box-shadow);
    border-color: var(--rk-primary);
    color: var(--rk-text);
    outline: none;
  }

  &::-webkit-input-placeholder {
    color: var(--rk-base-grey-dark);
  }

  &:-ms-input-placeholder {
    color: var(--rk-base-grey-dark);
  }

  &::placeholder {
    color: var(--rk-base-grey-dark);
  }

  @include adjoin("focus") {
    --rkts-box-shadow: none;

    box-shadow: var(--rkts-box-shadow);
    border-color: var(--rk-primary);
    color: var(--rk-text);
    outline: none;
  }

  /*==============================================================================
  // Modifiers
  //============================================================================*/

  @include modifier("search-box") {
    --rkts-search-bg: transparent;
    --rkts-position: relative;

    background: var(--rkts-search-bg);
    position: var(--rkts-position);
    padding-left: var(--rk-p-xl);
    color: var(--rk-primary);
  }

  @include modifier("checkbox") {
    position: absolute;
    min-height: auto;
    margin: 0 auto;
    height: 100%;
    opacity: 0;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
  }
}
