/*==============================================================================
// File:        _input.scss
// Package:     Tour Search UI - Vue3 - RezKit
// Synopsis:    Shared input component - SASS
//============================================================================*/

.rk-input {
  border-radius: var(--rk-border-radius-df);
  border: 1px solid var(--rk-base-grey);
  font-size: var(--rk-font-size-df);
  background: var(--rk-base-white);
  padding: var(--rk-p-sm);
  color: var(--rk-text);
  min-height: 58px;
  height: auto;

  &:focus {
    border-color: var(--rk-primary);
    box-shadow: none;
    outline: none;
    color: var(--rk-text);
  }

  &::-webkit-input-placeholder {
    color: var(--rk-base-grey-dark);
  }

  &:-ms-input-placeholder {
    color: var(--rk-base-grey-dark);
  }

  &::placeholder {
    color: var(--rk-base-grey-dark);
  }

  @include adjoin("focus") {
    border-color: var(--rk-primary);
    box-shadow: none;
    outline: none;
    color: var(--rk-text);
  }

  /*==============================================================================
  // Modifiers
  //============================================================================*/

  @include modifier("search-box") {
    color: var(--rk-primary);
  }
}
