/*==============================================================================
// File:        _list.scss
// Package:     Tour Search UI - Vue3 - RezKit
// Synopsis:    Shared list component - SASS
//============================================================================*/

.rk-list {
  padding-left: var(--rk-p-md);
  margin: 0;

  ::marker {
    content: none;
  }

  /*==============================================================================
  // Modifiers
  //============================================================================*/

  @include modifier("no-type") {
    list-style-type: none;
    padding: 0;
  }

  @include modifier("inline") {
    padding: 0;

    li {
      margin-right: var(--rk-m-df);
      display: inline-block;
    }
  }
}
