/*==============================================================================
// File:        _select.scss
// Package:     Tour Search UI - Vue3 - RezKit
// Synopsis:    Shared select component - SASS
//============================================================================*/

.rk-select {
  --rkts-background-size: 22px;

  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  background-size: var(--rkts-background-size);
  border-radius: var(--rk-border-radius-df);
  background-image: var(--rk-select-image);
  background-color: var(--rk-base-white);
  border: 1px solid var(--rk-base-grey);
  font-weight: var(--rk-font-normal);
  font-size: var(--rk-font-size-df);
  background-repeat: no-repeat;
  background-clip: padding-box;
  background-position: right;
  padding: .375rem .75rem;
  color: var(--rk-text);
  position: relative;
  line-height: 1.5;
  appearance: none;
  display: block;
  width: 100%;

  &:focus {
    box-shadow: 0 0 0 .25rem var(--rk-main-border-color);
    background-color: var(--rk-base-white);
    border-color: var(--rk-primary-light);
    color: var(--rk-text);
    outline: 0;
  }

  /*==============================================================================
  // Modifiers
  //============================================================================*/

  @include modifier("user-agent") {
    background-image: none;
  }
}
