/*==============================================================================
// File:        _result-card.scss
// Package:     Tour Search UI - Vue3 - RezKit
// Synopsis:    Result card component - SASS
//============================================================================*/

.rkts-result-card {
  --rkts-justify-content: start;
  --rkts-flex-direction: row;
  --rkts-align-items: center;
  --rkts-display: flex;

  justify-content: var(--rkts-justify-content);
  flex-direction: var(--rkts-flex-direction);
  align-items: var(--rkts-align-items);
  display: var(--rkts-display);
}
